@use "/sass/abstracts/mixins";

main {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(clamp(200px, 100%, 300px), 1fr)
  );
  margin: 0 auto;
  max-width: 1200px;
  grid-gap: 20px;
  padding-top: 20px;
  @include mixins.minbreakpoint(550px) {
    padding: 20px;
    grid-gap: 20px;
  }
}

.artwork {
  background-color: white;
  z-index: 2;
  box-shadow: 4px 8px 15px #00000014;
  color: black;
  .image {
    height: 300px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1.5s;
  }
  .image:hover {
    @include mixins.minbreakpoint(550px) {
      transform: scale(1.2);
    }
  }
}

h2 {
  padding: 10px;
  font-size: 1rem;
  text-align: center;
}

#mountains {
  z-index: 1;
  margin-top: -200px;
  height: 300px;
  width: 100%;
}
