main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  color: black;
  max-width: 1200px;
}
main div {
  border-radius: 20px;
  padding: 20px 20%;
  background-color: white;
  z-index: 2;
}
h1,
h2,
p,
img {
  margin: 10px;
  padding: 10px;
}

h2 {
  font-size: 1.2rem;
  font-weight: normal;
  opacity: 0.8;
  margin-bottom: 0;
  padding-bottom: 0;
}

#mountains {
  margin-top: -200px;
  height: 300px;
  width: 100%;
  z-index: 1;
}
.buttons {
  width: 100%;
  height: fit-content;
  text-align: center;
  text-decoration: none;
  display: flex;
  padding: 40px 0 0 0;
  justify-content: center;
}
.buttons button {
  word-wrap: break-word;
  cursor: pointer;
  color: inherit;
  font-weight: bold;
  width: 50%;
  line-height: 30px;
  padding: 30px;
  text-align: center;
  background-color: var(--lightgreen);
  border-radius: 20px;
  transition: width 1.5s, opacity 1s;
  border: none;
}
.buttons button a {
  color: black;
  text-decoration: none;
}
.buttons button:nth-of-type(odd) {
  background-color: var(--lightteal);
  margin-right: 20px;
}

.path {
  padding-left: 20px;
  font-weight: lighter;
  color: var(--dark-gray);
}

.buttons button:hover {
  width: 110%;
  opacity: 0.8;
}

@media only screen and (max-width: 800px) {
  main div {
    padding: 20px 5px;
  }
  p,
  h1,
  h2,
  img {
    padding-left: 0;
  }
  main {
    padding: 40px 5px 5px 5px;
  }
  .buttons {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
  .buttons button {
    text-align: center;
    display: flex;
    margin: 5px 0;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
  .buttons button:hover {
    width: 100%;
    opacity: 0.8;
  }
}
