@use "../components/somebuttons";

footer {
  background-color: var(--dark-color);
  padding: 20px;
  margin-top: -10px;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  background: linear-gradient(
    180deg,
    var(--dark-color) 40%,
    rgb(51 94 77) 100%
  );

  nav {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    a {
      padding: 10px;
      transition: opacity 0.5s, transform 0.5s;
    }
    a:hover {
      transform-origin: left;
      opacity: 0.8;
      transform: translate(0px, -10px);
    }
  }
}
