body {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background: rgb(141, 222, 224);
  background: linear-gradient(
    132deg,
    #bce7eb 0%,
    rgba(255, 255, 255, 1) 100%
  ) !important;
  color: black;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
